body {
    background-color: #adebe9;
    color: #590099;
    font-family: Roboto Slab;
    
}

.container-div {
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
font-size: 50px;
font-weight: 100;
}

h2 {
font-size: 40px;
font-weight: 200;
}

h3 {
font-size: 30px;
font-weight: 300;
}

h4 {
font-size: 20px;
font-weight: 300;
}

h5 {
font-size: 15px;
font-weight: 300;
}

.flex {
    display:flex;
    flex-direction: column;
    align-items: center;
}

button {
   width:220px;
   border: 3px solid #590099;
   border-radius: 8px;
   height: 50px;
   font-family: Roboto Slab;
   background-color: transparent;
   color: #590099;
   font-size: 20px;
   font-weight: 300;
   margin: 10px
}

.remove-btn{
    font-family: sans-serif;
    z-index:1;
    width:10px;
    border: none;
    font-family: sans-serif;
    background-color: transparent;
    color: #adebe9;
    font-size: 20px;
    font-weight: 300;
    margin: 2px;
    position:absolute;
    top:-15px;
    right:10px;
}


.remove-btn:active{
    font-family: sans-serif;
    width:10px;
    border: none;
    font-family: sans-serif;
    background-color: transparent;
    color: #adebe9;
    font-size: 20px;
    font-weight: 300;
    margin: 2px;
}

.player-div{
    position:relative;
    text-align:center;
}

button.button-clicked {
    background-color:#590099;
    border-radius: 8px;
    color: #adebe9;
    width:220px;
    border: 3px solid #adebe9;
    height: 50px;
    font-family: Roboto Slab;
    font-size: 20px;
    font-weight: 300;
    margin: 10px;
 }

button:active{
    background-color:#33ccc7;
 }


input[type=submit]{
    width:220px;
    border: 3px solid #590099;
    border-radius: 8px;
    height: 50px;
    font-family: Roboto Slab;
    background-color: transparent;
    color: #590099;
    font-size: 20px;
    font-weight: 300;
    margin: 10px
}

input[type=text]{
    width:220px;
    border:none;
    border-radius: 8px;
    height: 50px;
    font-family: Roboto Slab;
    background-color:#d6f5f4;
    color: #590099;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin: 10px
}

input[type=password]{
    width:220px;
    border:none;
    border-radius: 8px;
    height: 50px;
    font-family: Roboto Slab;
    background-color:#d6f5f4;
    color: #590099;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin: 10px
}



.player {
    z-index:2;
    position:relative;
    text-align:center;
    height:50px;
    line-height: 50px;
    min-width: 220px;
    border: none;
    background-color:#590099;
    border-radius: 8px;
    color: #adebe9;
    font-family: Roboto Slab;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    margin:10px;
}

.song-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.song-option{
    border: 3px solid #590099;
    border-radius: 8px;
    background-color: transparent;
    text-align: center;
    width: 600px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 10px;

}

.inner-song-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.song-title {
    font-size: 25px;
    margin: 5px
}

.song-artist {
    font-size: 18px;
    margin: 5px;
}

.leaderboard-item {
    border: none;
    padding: 2px;
}

.leader-board {
    border: 3px solid #590099;
    border-radius: 8px;
    background-color: transparent;
    min-width: 300px;
    height: 400px;
    margin: 10px;
}

th {
    font-size: 20px;
    text-align: center;
}

td {
    font-size: 18px;
    text-align: center;
}

.turn-count{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    position:absolute;
    top:0px;
    right:0px;
    padding:10px;
    font-size:18px;
    border: 3px solid #590099;
    border-radius:8px;
    margin-right:15px;
    margin-top:10px;
}

.turn-amount{
    padding:5px;
    font-size:24px;
}

.winner-declaration {
    padding: 20px;
    width: 500px;
    text-align: center;
}

.game-start-button {
    margin-top: 50px;
}

#hummingbird-img {
    width: 100px;
    margin: 50px;
}